body{
    background-color: #efefef;
}
.main{
    margin: 20px;
    background-color: white;
}
.media-object{
    width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.profile-section{
    margin-top: 15px;
    width: 200px;
    margin-left: auto;


}