<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDTO.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>

<body>
<div th:insert="navigation :: nav"></div>

<div class="container-fluid main" th:if="session.user!=null">
    <div class="row">
        <!--        左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!-- 正文 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 th:text="${questionDTO.title}" class="question-title"></h4>
                <div class="community-menu">

                    <span th:text="'作者：'+${questionDTO.user.name}+' | '"></span>
                    <span th:text="'发布时间：'+${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd hh:mm')}+' | '"></span>
                    <span th:text="${questionDTO.viewCount}+'次浏览'"></span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--                内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                    <textarea th:text="${questionDTO.description}" style="display: none">
                    </textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        editormd.markdownToHTML("question-view", {});
                    });
                </script>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--                标签-->
                <!--                th:each="commentDTO:${commentDTOS}"-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="label label-info question-tag"
                      th:each="tagPiece:${#strings.listSplit(questionDTO.tag,',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span th:text="${tagPiece}"></span>
                     </span>
                </div>
                <!--                编辑-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a th:if="${session.user!=null&&session.user.id==questionDTO.creator}"
                   th:href="@{'/publish/'+${questionDTO.id}}" class="community-menu edit">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    编辑
                </a>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
            <!--回复-->
            <h4 class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--h4表明内容size，其内容都在同一层，通过内置span使所有信息在同一层排列-->
                <span th:text="${questionDTO.commentCount}"></span>个回复
                <hr class="comment-hr col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </h4>

            <!--            回复列表-->
            <div th:each="commentDTO:${commentDTOS}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12  comment-section">

                <div class="media col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="media-left ">
                        <a href="#">
                            <img class="media-object img-thumbnail profile-img" th:src="${commentDTO.user.avatarUrl}"
                            >
                        </a>
                    </div>
                    <div class="media-body" th:id="'comment-body-'+${commentDTO.id}">
                        <h5 class="profile-name" th:text="${commentDTO.user.name}"></h5>
                        <div th:text="${commentDTO.content}"></div>
                        <!--社交功能-->
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up comment-like" aria-hidden="true"></span>
                            <!--                            <span class="glyphicon glyphicon-comment comment-comment " th:data-id="${commentDTO.id}"-->
                            <!--                                   th:text="${commentDTO.commentCount}"></span>-->
                            <span class="comment-comment" th:data-id="${commentDTO.id}"
                                  onclick="collapseComments(this)">
<!--                           外围span 以及其属性 class = comment-coment 将 评论图标和评论数字限制成一体，并且都有悬浮变蓝-->
                                <span class="glyphicon glyphicon-comment  "></span>
                                <span th:text="${commentDTO.commentCount}" class="comment-count"></span>
                            </span>
                            <!--collapse 两部分组成 一部分是触发按钮[link也能实现]:type="button" class="btn" data-target= "#collapseExample"//对id=collapseExample为作用目标 data-toggle="collapse"//切换状态>
                                <！-- 第二部分：taget部分 class=“collapse” id="collapseExample"-->
                            <span th:text="${#dates.format(commentDTO.gmtCreate,'yyyy-MM-dd')}"
                                  class="pull-right "></span>
                        </div>
                        <!--二级评论-->
                        <!--后端二级评论写入数据库已经完成，前端如何传入二级评论信息：parentId content 前端如何显示一级评论下方的二级评论？-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comment "
                             th:id="'comment-'+${commentDTO.id}">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  sub-comment ">
                                <!--注意 回复列表部分属于 foreach范围，id命名需要使用 th:id-->
                                <!-- commentId通过th：data传入js function-->
                                <input type="text" class="form-control" placeholder="评论一下"
                                       th:id="'input-'+${commentDTO.id}">
                                <button type="button" class="btn btn-success pull-right sub-comment-btn"
                                        th:data-id="${commentDTO.id}"
                                        onclick="insertSubComment(this)">评论
                                </button>
                                <!--th：data 信息要和 onclik在同一条语句-->
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <!--          回复框输入-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <h4>提交回复</h4>
                <div class="media col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media-left ">
                        <img class="media-object img-thumbnail profile-img"
                             th:src="${session.user!=null?session.user.avatarUrl:'/images/touxiang.png'}">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="font-size: medium;">
                            <span clas=“community-menu”th:text="${questionDTO.title}"
                                  th:href="@{'/question/'+${questionDTO.id}}">

                            </span>
                        </h3>
                        <h5 class="profile-name" th:text="${session.user!=null?session.user.name:'匿名用户'}"></h5><br>
                    </div>
                </div>
                <input type="hidden" id="questionId" th:value="${questionDTO.id}">
                <textarea class="form-control comment" id="comment_content" rows="6"></textarea>
                <!--comment th:value 直接由 textarea内容赋值-->
                <button type="button" class="btn btn-success comment-button" onclick="post()">回复</button>
            </div>
            <!--发起人信息 -->
        </div>
        <!--        右边内容-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media-left ">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${questionDTO.user.avatarUrl}"
                            >
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="font-size: medium;">
                            <span clas=“community-menu”th:text="${questionDTO.title}"
                                  th:href="@{'/question/'+${questionDTO.id}}">
                            </span>
                        </h3>
                        <h5 th:text="${questionDTO.user.name}"></h5><br>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            </div>
            <hr class="media col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>夠大了嗎</h4>
                <img class="img" src="/images/PiKaQiu.jpg">
            </div>


            <!--            相關問題-->

            <hr class="media col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="ul">
                    <li th:each="relatedQuestion:${relatedQuestions}">
                        <a class="a li" th:href="@{'/question/'+${relatedQuestion.id}}"
                           th:text="${relatedQuestion.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>